:root {
    margin: 0;
    padding: 0;
  }

.flexbox-container {
    position: absolute;
    box-sizing: border-box;
    margin: auto;
    width:95%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px; /* or use padding-bottom */
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.flexbox-container p{
    text-align:center;
    flex-basis: 100%;
}
.flexbox-container img {
    flex-basis: 100%;
    flex-shrink: 2;
}


